[2017-10-11 14:56] timothysc opened #1 "Firewall rules"
Create the punches up front to avoid the logistics of running around.

[2017-10-11 14:57] timothysc opened #2 "Optionally - Pre-pull images"
This can be weird with images on how to handle pre-pulling the base docker images.

[2017-10-11 14:58] timothysc opened #3 "Configure overlay2"
Setup to default to overlay2 for centos requires a couple of steps.

/cc @johnbyrneio

[2017-10-11 15:02] timothysc opened #4 "NTP knobs.."
Need to setup sane defaults for NTP and have a knob'd override for large scale vendors.

[2017-10-11 15:12] timothysc opened #5 "Dog-fooding"
Ideally we use this for helping create the quick-start.

Dunno if this will be in ready in time for the next iteration.

/cc @chuckha

[2017-11-02 19:29] #2 closed, assigned to nobody

[2018-01-10 21:35] craigtracey opened #14 "Add tests"
This repo needs tests. Minimally, we should:
- attempt to build images upon PR
- use molecule to run unit tests

[2018-01-11 15:00] craigtracey commented on #3
Closed by https://github.com/heptiolabs/wardroom/pull/10

[2018-01-11 15:00] #3 closed

[2018-01-11 19:05] chuckha opened #16 "Add kubelet cloud provider arg"
Wardroom should be putting the appropriate kubelet `--cloud-provider` flag in the systemd conf file.

We could reasonably edit the file directly after installing the package and not try to use `KUBELET_EXTRA_ARGS`.

[2018-01-11 19:55] chuckha opened #17 "What do you think about adding `jq` to the base image?"
I have found this is a fairly common utility and it would simplify the aws-quickstart to have jq already present on the image.

Is this reasonable for wardroom to have or should consumers be modifying the image as needed?

[2018-01-11 19:57] craigtracey commented on #17
Reasonable. In fact we should make all installed baseline packages configurable by the end user.

[2018-01-12 21:45] #5 closed

[2018-01-18 15:01] chuckha opened #21 "Python pre-install is debian specific"
The python pre-install happens in several places:

https://github.com/heptiolabs/wardroom/blob/master/ansible/playbook.yml#L6
https://github.com/heptiolabs/wardroom/blob/master/ansible/pre.yml#L5
https://github.com/heptiolabs/wardroom/blob/master/ansible/provider.yml#L7

Python should be installed in a platform agnostic way and should not be duplicated like this unless it really has to be.

[2018-01-18 15:03] chuckha opened #22 "bump CNI"
As per 1.9 release notes our CNI should be using

https://github.com/kubernetes/kubernetes/pull/51250/files#diff-7f1c98c90062b56dffdcdd67c36a0e79R54

for the URL.

Note: This is actually a slightly different archive than the one we are using. They are no longer wrapping all the bins in a bin directory so we will need to create a bin directory and extract into that.

[2018-01-18 17:55] craigtracey opened #24 "create a python module for the scripts"
As we script this with python, we will have dependencies that need to be managed.  Likewise, we may want to take advantage of some of the features of being an actual module (ie. entry points). So, make of python module of this code.

[2018-01-24 13:05] warmchang opened #31 "Typo in README.md, missing the letter "a""
:smile: , should be

![image](https://user-images.githubusercontent.com/13084624/35333414-9ea9a826-0149-11e8-9f55-5dfaac5a8b54.png)

[2018-01-26 05:41] craigtracey commented on #31
Thanks @warmchang - fixed!

[2018-01-26 05:41] #31 closed

[2018-02-01 04:47] craigtracey opened #32 "Remove cloud-init artifacts from images"
Right now it looks like we are not cleaning up the cloud-init state after we have provisioned images. We should do that.

[2018-02-02 20:26] erictcgs opened #34 "Allow kubernetes repo url to be configurable"
Currently the k8s apt key and repo urls are hardcoded (https://packages.cloud.google.com/apt/doc/apt-key.gpg, http://apt.kubernetes.io), which may not be accurate within firewalled environments

@craigtracey

[2018-02-02 20:53] erictcgs commented on #17
Would nfs-client also be added to base (needed on nodes for nfs volumes), or configurable?  @craigtracey

[2018-02-02 21:18] craigtracey commented on #17
@erictcgs yes, I think that is also reasonable. The most ideal case will be that these packages are all configurable.  Given that nfs-client is necessary for nfs volumes, I think that would be a safe default install.

[2018-02-02 22:04] erictcgs opened #35 "etcd source url hardcoded"
In corporate envs github may not be directly available.  Currently the etcd url is hardcoded as a var, which doesn't seem to be able to be overridden by host/group vars set elsewhere.  Also, group "etcd" is hard coded, but if user has differently named hosts and is just consuming the roles this can't be overridden.
 Moving those to etcd/defaults/main.yml seems to allow users to override as needed

[2018-02-02 22:23] erictcgs opened #37 "etcd role listed as dependency for k8s-master"
In /roles/kubernetes-master/meta/main.yml etcd is a dependency of master.  Swizzle.yml already installs etcd to nodes with ansible role etcd, but this dependency also installs etcd to the masters - not desirable when etcd and masters are separate computers (vagrant file seems to have them the same)

@craigtracey

[2018-02-05 22:20] timothysc commented on #22
Why is this not pulled in from the rpm's and debs, it should be?

[2018-02-05 22:25] timothysc commented on #4
@detiber - history repeats itself ;-)

[2018-02-05 22:28] timothysc commented on #37
This one requires some more thought, b/c I don't think it really belongs here vs. it's own playbook + repo that handles all the cases cleanly.

@craigtracey - Didn't you want to split out swizzle into it's own thing?

[2018-02-05 22:32] timothysc commented on #24
@craigtracey - could you elaborate more on this one?

[2018-02-05 22:40] timothysc commented on #14
Actually testing the images may get a little tricky, b/c we'd have to spin up resources.
We can chat more about this one.

[2018-02-05 22:41] timothysc commented on #1
@detiber - again re: history.

[2018-02-05 22:52] timothysc commented on #1
We should also make certain we punch for sonobuoy.  /cc @chuckha

[2018-02-06 02:06] #32 closed

[2018-02-06 03:38] detiber commented on #22
We are pulling these from RPM/DEB now, the vestigial cni role that pulled from archive was removed here: https://github.com/heptiolabs/wardroom/pull/36

[2018-02-06 03:38] #22 closed

[2018-02-08 16:36] #34 closed

[2018-02-08 19:16] timothysc commented on #14
sig-node.e2e tests are a good start imo.

[2018-02-09 01:42] johnbyrneio opened #40 "Enable TLS for etcd"
Right now etcd is running without TLS. We should explore options for having wardroom generate and apply certs.

[2018-02-09 18:26] erictcgs opened #42 "Retrieve existing token from master to join new nodes after initial deployment"
Currently master token is generated fresh every time, but only used during initial deployment.  If adding nodes later, new nodes attempt to join with this new key, does not match existing key so node join fails.

@craigtracey

[2018-02-12 18:40] timothysc opened #43 "Audit Log Defaults."
We will need to bake this in for 1.10+ post @chuckha 's work.

[2018-02-23 23:26] craigtracey opened #45 "Enumerate necessary permissions"
We should enumerate the permissions necessary for the packer builds, per cloud provider.  It can be frustrating when this is unclear, and this would make a much better user experience.

[2018-03-13 15:29] #17 closed

[2018-03-13 16:01] detiber opened #48 "Support image preloading when building wardroom images"
Support and expose an option to preload container images when building wardroom images.

[2018-04-10 19:30] timothysc opened #55 "Output Artifact -> meta container"
Today we produce images for VM infra, but for on prem environments there are a set of use cases that could benefit from a meta-container that lumps all of the repos deps into a local container.

@luxas created a container like this in the past, but the purpose of using wardroom is to allow others to generate the artifact(s).

/cc @detiber

[2018-04-13 19:10] timothysc commented on #55
https://github.com/xakraz/kubeadm-installer

[2018-04-30 18:28] chuckha opened #57 "kubelet config file"
I just noticed, running kubeadm init that `--pod-manifest-path` has been deprecated in favor of the kubelet's `--config` flag.

This feels like it might be an upstream thing where the kubelet package should be updated (maybe it's already under way). I want to track this somewhere since it's a deprecation warning. Feel free to close if this is not the right place for that.

`Apr 30 18:22:32 ip-172-

[2018-05-11 19:27] chuckha commented on #48
eventually (1.11) we will be able to use `kubeadm config list-images` to get a list of images needed.

[2018-05-15 19:11] timothysc opened #59 "Pre-fill kubeadm config with optional override."
As an administrator I would like to bake my images with a set of well defines configuration options with the ability to override during initial image creation.

[2018-05-15 19:29] timothysc commented on #1
At some point we need to pay down this debt, but it's out of scope for now in the May refresh.

[2018-05-15 19:33] timothysc commented on #14
So for the near term we should have the following :

Update test document
Enable base level automation with kube-conformance test + node.e2e
xref - https://github.com/heptio/kube-conformance/pull/13

[2018-05-15 19:34] timothysc commented on #16
In 1.11+ the cloud-provider will be a separate apply step similar to CNI so there is no reason to bake in defaults.

[2018-05-15 19:34] #16 closed

[2018-05-15 19:39] timothysc commented on #59
This supersedes #43

[2018-05-15 19:39] #43 closed

[2018-05-18 19:57] chuckha opened #62 "Make AMIs discoverable"
I cannot find the wardroom AMIs anywhere in the amazon UI. It would be fantastic if we had a place that listed all the AMIs by k8s version/os. Very much like https://cloud-images.ubuntu.com/locator/ec2/ except heptio.

wardoom-images.heptio.com would be dope. But honestly I'd settle for a markdown file.

[2018-05-21 14:34] timothysc commented on #14
We have other priorities I'm descoping from this milestone.

[2018-05-22 18:13] detiber commented on #4
Currently ntp is installed on both Ubuntu and CentOS hosts. Since services are enabled by default when installing packages on Ubuntu the ntp service is already running with the default configuration. This isn't the case for CentOS, but since we only use Ubuntu for the Quickstart I am downgrading the priority.

[2018-05-25 18:45] timothysc commented on #57
We're going to need todo this long term, but can happily wait until config is beta+.

[2018-06-27 20:01] scottslowe opened #64 "Won't add nodes if masters have already initialized"
The "kubernetes-master" role uses `kubeadm token generate` to output a new token but not actually create the token on the server. This generated token is captured in a variable which is then used in a templated configuration file supplied to `kubeadm init` on the master(s). If the masters have already been initialized, then the token is never actually created on the server, and therefore can't be

[2018-07-04 11:51] scottslowe commented on #64
Closing this issue in favor of #42. I'll add my notes to that issue.

[2018-07-04 11:51] #64 closed

[2018-07-04 11:53] scottslowe commented on #42
This behavior results from the "kubernetes-master" role using `kubeadm token generate` to output a new token but not actually create the token on the server. This generated token is captured in a variable which is then used in a templated configuration file supplied to `kubeadm init` on the master(s). If the masters have already been initialized, then `kubeadm init` never runs, the token is never

[2018-07-04 12:09] scottslowe commented on #62
Is Heptio actually maintaining a set of AMIs created by Wardroom?

[2018-07-09 22:50] scottslowe opened #71 "Use of "primary_master" group breaks use of playbooks apart from provision.py"
The use of the "primary_master" inventory group (introduced via #29) breaks the use of the Ansible playbooks apart from running them with the `provision.py` script (which creates and populates the "primary_master" group).

A potential workaround is to use a nested group in the Ansible inventory file, like this:

[code]

This would allow use of the randomisation functionality in `provision.py` as w

[2018-07-10 00:09] scottslowe opened #72 "Playbooks specify Docker CE 17.03.2 but actually install 18.03.1"
The "docker" role in the Ansible playbooks specifies to install Docker CE 17.03.2, but when they are run against a CentOS 7.4 host (and this presumably will affect RHEL also, although I haven't tested yet) they actually install Docker CE 18.03.1. This version isn't yet validated for use with Kubernetes (although it may work just fine).

This output was taken from a CentOS 7.4 host after running th

[2018-07-24 05:11] scottslowe commented on #72
The only workaround I've found is this command:
[code]

[2018-07-25 19:47] scottslowe opened #74 "Intermittent kubeadm failures due to /proc/sys/net/bridge/bridge-nf-call-iptables"
Using Wardroom to generate a CentOS 7.4-based AMI results in intermittent failures running `kubeadm` on instances launched from said AMI. The `kubeadm` error is:
[code]
This is using `kubeadm` version 1.11.1 on CentOS 7.4.

[2018-07-25 19:49] scottslowe commented on #74
Adding the following Ansible code to `ansible/roles/common/tasks/redhat.yml` may resolve the intermittent failures:
[code]
I am happy to create a PR to add this content, if others agree that it may help.

[2018-07-26 18:31] detiber commented on #74
@scottslowe +1 on a PR, I'm happy to review when ready.

[2018-07-27 18:48] scottslowe commented on #74
@detiber PR #75 created to address this issue. LMK if you need changes made in order to merge.

[2018-08-02 19:26] timothysc commented on #72
/assign @detiber
/cc @chuckha

[2018-08-02 19:26] ncdc commented on #72
xref https://github.com/moby/moby/issues/33930#issuecomment-312782998

[2018-08-02 19:28] ncdc opened #77 "Consider including cloud-utils in AWS AMIs"
kubicorn bootstrap scripts require `ec2metadata` which comes from the `cloud-utils` package. Could we consider adding `cloud-utils` to all AWS AMIs?

@detiber

[2018-08-02 19:53] timothysc commented on #77
/assign @chuckha
/cc @detiber

[2018-08-03 14:14] ncdc opened #78 "Ability to build base images that have everything installed except kubernetes"
I would like to be able to run packer to build images, but I don't want kubernetes baked in to the image (I'll bring my own). Is there some way to use a packer var and an ansible var to exclude the kubernetes role from the playbook?

@detiber @timothysc

[2018-08-22 14:16] #74 closed

[2018-08-22 14:47] detiber opened #79 "Add support for containerd-based images"
Currently wardroom bakes images that use docker, we should add the ability to generate images that use containerd instead.

[2018-08-23 19:14] scottslowe commented on #45
I'll take a stab at this, starting with the AWS permissions.

[2018-08-23 21:12] scottslowe commented on #45
The Packer documentation outlines the "minimum" permission as this:

[code]

However, I tested with this policy statement and was successful:

[code]

[2018-08-28 13:06] detiber commented on #45
Closing thanks to @scottslowe's work on #81 and #82

[2018-08-28 13:06] #45 closed

[2018-08-29 13:26] detiber commented on #62
@scottslowe the images have indeed been spread out across multiple accounts. We've discussed moving this to a centralized account, but it just hasn't been a huge priority yet.

[2018-08-29 16:10] vincepri commented on #79
This is being worked on https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/25 and can be ported here after testing.

[2018-08-30 19:49] scottslowe commented on #72
This should be fixed via #83, so I'll go ahead and close this issue now.

[2018-08-30 19:49] #72 closed

[2018-09-05 20:55] scottslowe opened #84 "Wardroom is not compatible with Ubuntu 18.04"
**This is a longer-term issue and not an immediate need, so feel free to defer until a later time.**

I did some testing today with Ubuntu 18.04 to see if Wardroom could be used to build Kubernetes-ready images. I found problems with a number of areas:

* Installing Docker (can't install CE 17.03.x on Ubuntu 18.04, none of the repositories have it)
* The Kubernetes role fails when adding the repo

[2018-09-17 18:31] stevesloka commented on #62
Happy to help out here as well. Want to discuss this week?

[2018-09-17 18:53] chuckha opened #86 "Clean up AWS usage"
Right now the images are created and live in hepito private dev accounts. The AMIs are made public so it's not really a big deal, but it is hard to track/cleanup if we ever need to. Images are also subject to disappearing if a user's account is deleted and all resources are cleaned up.

cc @asenchi @stevesloka

[2018-09-20 18:59] scottslowe opened #87 "Set hostname to FQDN"
For AWS cloud provider integration, it's necessary for the hostname of the node to match AWS' private DNS entry. Is it worth us building a task/role into Wardroom to set the hostname to the FQDN so that it matches the AWS private DNS entry?

[2018-09-21 12:47] detiber commented on #87
@scottslowe If we do this, it needs to live under the swizzle components only, since the image baking components should not manipulate the hostname.

[2018-09-21 14:41] scottslowe commented on #87
@detiber Yes, of course, you're absolutely right. Thanks for the clarification.

[2018-09-21 14:41] stevesloka commented on #86
Similar to #62

[2018-09-21 14:45] scottslowe commented on #79
I know that @vincepri said there's some work happening in cluster-api, but I have a branch I can submit as a PR (based on Vince's work) if we'd like to go ahead and close this out.

[2018-09-21 14:56] detiber commented on #79
@scottslowe that would be great, we just haven't had the time to verify the containerd changes do not break the swizzle workflows yet :)

[2018-09-21 15:00] scottslowe commented on #79
@detiber I haven't tested the swizzle workflows, either. I think @craigtracey may have some changes for the swizzle workflows that he has yet to check in. I'll check with him on the status of those changes so that we can see if we should test now or wait for his changes.

[2018-09-21 15:13] stevesloka commented on #79
Why do we have the same code in multiple repos and copy/paste between them? Can't we standardize on Wardroom?

[2018-09-21 17:04] detiber commented on #79
@stevesloka long term we'd like to standardize the image baking and contribute upstream. Currently we contributed that for cluster-api-provider-aws, but the plan is to try and make it more generally available for the cluster-api.

The main issue with standardizing on Wardroom has been that the scope of this repo has grown beyond just image baking and testing/validating that changes do not break th

[2018-09-26 16:04] scottslowe commented on #21
Saw this code and thought it might offer a solution to this issue:

[code]

Source: https://github.com/cloudposse/terraform-null-ansible (licensed under Apache 2 license)

[2018-09-26 17:09] detiber commented on #21
@scottslowe I don't know of any RH-based systems that do not ship with python, especially since yum/dnf are built on top of python.

One of the things that we did with porting the image baking code into kubernetes-sigs/cluster-api-provider-aws was to remove this hack from the Ansible code and push it into a small script that is executed via packer. That wouldn't help the swizzle-based use cases he

[2018-09-28 16:19] #77 closed

[2018-09-28 18:37] chuckha opened #89 "Cleanup user directory"
I see a `~vince` dir in the wardroom image. That should definitely not be there.

[2018-10-01 17:54] #89 closed

[2018-10-01 17:54] vincepri opened #91 "Investigate ansible temporary folder"
Follow up issue from https://github.com/heptiolabs/wardroom/pull/90#discussion_r221692120

[2018-10-04 01:27] scottslowe opened #92 "Add support for image building for Oracle Cloud"
There is a need for enabling Wardroom to build base images on Oracle Cloud. It looks as if HashiCorp Packer (as of 1.2.0 or later) includes a builder to build base OS images for Oracle Cloud, so this _should_ be a fairly straightforward addition.

[2018-10-04 13:38] detiber commented on #92
@scottslowe Do we have access to an account to use for testing?

[2018-10-04 14:54] scottslowe commented on #92
@detiber Not yet, working on it. As soon as I get an account, I'll start working on a PR.

[2018-10-04 18:40] scottslowe commented on #92
@detiber I've managed to obtain an Oracle Cloud account I can use for testing, so I'll get started on a PR in the next day or two.

[2018-10-11 19:36] ncdc commented on #78
@mauilion this is the issue we chatted about briefly earlier today

[2018-10-15 20:56] scottslowe commented on #92
Closed via #95.

[2018-10-15 20:56] #92 closed

[2018-10-30 19:50] craigtracey opened #99 "IP routing being configured in multiple places"
Right now IP routing is being configured in places it shouldn't be:
- `ansible/roles/kubernetes-cni/tasks/flannel.yml`
- `ansible/roles/common/tasks/redhat.yml`

As this is always required (for both images as well as swizzle), move these sysctl settings to a common place (maybe the `kubernetes` role?).

[2018-10-30 21:22] craigtracey opened #101 "Remove swap from fstab"
Currently the code simply disables swap at runtime.  We should also remove any entries from fstab.

This is currently in `ansible/roles/kubernetes-common/tasks/main.yml`

[2018-11-07 15:47] alexbrand opened #106 "[dev branch] kubeadm template depends on kubeadm token which gets created after template is rendered"
The kubeadm.conf template contains the kubeadm token, but it looks like the token is no longer generated before the template is rendered.

Changeset of interest: https://github.com/heptiolabs/wardroom/commit/fc7cce9d957ce7f615e35527a7e52a4af8975d87

[code]

[2018-11-07 22:32] scottslowe opened #107 "Investigate leftover artifact in /etc/hosts for OCI builds"
It appears that Wardroom (when used to build images) leaves behind a leftover hostname artifact in `/etc/hosts` when building OCI images. We need to investigate and correct whatever may be creating this leftover artifact.

[2018-11-08 15:12] alexbrand commented on #106
@craigtracey I am seeing that kubeadm v1.12 creates the token when calling `kubeadm init`, which makes me think we can revert fc7cce9?

[2018-11-20 14:54] alexbrand opened #110 "[swizzle] Kubernetes packages are being installed on etcd nodes"
Currently, the swizzle playbook is installing the kubernetes packages (and prereqs) to the etcd nodes. This is fine when deploying stacked masters, but seems unnecessary when deploying etcd as an external cluster on dedicated nodes.

In the external cluster scenario, there is no need for docker, kubelet, kubectl, etc on the etcd machines, given that etcd is running as a systemd service.

[2018-11-20 15:34] alexbrand opened #111 "Fix deprecation warnings"
There's a couple of places where we are using deprecated ansible features/instructions/commands.

[code]

[code]

[code]

[code]

[code]

[2018-11-24 04:46] scottslowe commented on #107
PR #109 fixes this issue.

[2018-11-27 18:48] alexbrand opened #116 "[swizzle] Support environments that are behind a proxy"
Many large organizations typically require all internet-bound traffic to traverse an HTTP proxy.

We should support the ability to specify proxy configuration and flow that config to the swizzle tasks that reach out to the internet.

[2018-11-28 16:40] alexbrand opened #119 "Install docker-py only when required"
We currently install docker-py unconditionally as part of the docker installation.

Docker-py is required to use the ansible `docker_image` module. This module is used in `roles/kubernetes/tasks/main.yml` to download and cache docker images on the nodes.

The caching of images is only performed when `kubernetes_enable_cached_images == true`. It seems like we could make the installation of docker-p

[2018-12-19 07:10] #24 closed

[2019-01-28 20:07] johnSchnake opened #120 "Node tests fail to run"
https://github.com/heptiolabs/wardroom/tree/master/packer#testing-images mentions testing nodes directly via `e2e_node.test` but there have been upstream changes that seem to have broken this functionality at this time.

I get issues with the kubelet failing to respond to readiness checks even though the cluster otherwise is in a healthy state and passes conformance tests (via sonobuoy).

Errors i

[2019-02-02 13:02] randomvariable opened #122 "Add image testing"
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/538 adds image testing using [goss](https://github.com/aelsabbahy/goss). Might be worth porting to wardroom

[2019-02-12 20:17] scottslowe opened #123 "AWS region now hard-coded in packer.json"
Commit cab02b6 (part of PR #121) hardcodes the "aws_region" variable in `packer/packer.json`, setting the value to "us-east-1". This causes the instructions in `packer/README.md` for building AWS images to break for regions _other_ than us-east-1.

It looks like there are (at least) three potential fixes:

1. Update `packer/README.md` to instruct users to add `-var aws_region=<region>` for buildin

[2019-02-20 22:22] scottslowe commented on #123
PR #124 shows an example of one of the workarounds listed above (approach 3, updating the AWS region variable files to include the "aws_region" variable).

[2019-02-23 02:57] detiber opened #126 "Update docker versions for CVE-2019-5736"
Need to verify that the current versions of Docker installed for Ubuntu Bionic and CentOS are not vulnerable to CVE-2019-5736. The version that was recently added for Xenial in #125 already includes the fix.

[2019-02-25 22:24] scottslowe commented on #123
@detiber This is the core issue that I referenced in #124. That PR doesn't fix this core issue, but instead provides an example of one approach to fix the issue (adding the "aws_region" variable to all variables files to override the hard-coded region in `packer.json`). LMK if you have questions.

[2019-02-26 17:20] scottslowe commented on #111
@alexbrand Does PR #113 fix/correct this issue? If so, can we go ahead and close the issue?

[2019-02-26 17:21] scottslowe commented on #107
Closed via PR #109.

[2019-02-26 17:21] #107 closed

[2019-02-26 18:03] alexbrand commented on #111
It fixed it in the dev branch, yes.

[2019-02-26 23:26] scottslowe commented on #111
Can we close this issue, since it's fixed in the dev branch? Or does the issue still exist outside of the dev branch?

[2019-03-03 02:54] scottslowe commented on #122
@randomvariable I did some initial testing with `goss`. I came up with the following tests:

[code]

Did you have any other tests/conditions in mind to test the images?

[2019-03-03 03:39] scottslowe commented on #123
It looks like all the region-specific variables files have had the `aws_region` variable added and set, which _should_ address the core problem behind this issue. I'll go ahead and close the issue.

[2019-03-03 03:39] #123 closed

[2019-03-03 19:09] randomvariable commented on #122
Think that's a sufficient start for now. We can build it up incrementally.

[2019-03-04 15:17] detiber commented on #122
@scottslowe one potential issue with this is that since the versions are set using Ansible variables, this would cause failures if the versions are overridden. Ansible itself should also error out if the version installed does not match the version requested.

[2019-03-04 15:40] scottslowe commented on #122
@detiber You are correct, of course. I posted the list of tests above more for an idea of what other sorts of tests we should consider. In my testing, I've already moved to a templated `goss` config file that pulls the Kubernetes and Docker versions from variables files. I hope to have a PR ready soon for review (initial testing looks pretty good).

[2019-04-10 17:12] craigtracey commented on #37
Closing as this issue has been resolved.

[2019-04-10 17:12] #37 closed

[2019-04-10 17:13] craigtracey commented on #42
This has been resolved. Closing.

[2019-04-10 17:13] #42 closed

[2019-04-10 17:14] craigtracey commented on #21
Closing as I believe that this has been addressed.

[2019-04-10 17:14] #21 closed

[2019-04-10 17:16] craigtracey commented on #59
There are defaults in the playbooks now, but the image generation does not add any kubeadm config, intentionally.

Closing. Reopen if necessary.

[2019-04-10 17:16] #59 closed

[2019-04-15 18:30] aaroniscode opened #129 "Consider using `source_ami_filter` so not to hard code AMI image ID's across regions"
Discussing with @scottslowe , he mentioned I should open an Issue to see if this makes sense.

Here is a snippet from my packer build file that I use to make k8s images:

[code]

[2019-04-16 16:25] scottslowe commented on #129
@aaroniscode Thanks, Aaron! I wasn't aware of this functionality. At a quick glance, it seems like something that might be useful to incorporate.

[2019-04-16 16:29] detiber commented on #129
@chuckha @vincepri @randomvariable we'll probably want to pull this into `cluster-api-provider-aws` as well, docs for this are here: https://www.packer.io/docs/builders/amazon-ebs.html#source_ami_filter

[2019-04-16 20:23] scottslowe opened #130 "Add minimal set of documentation"
In order to make it easier for other people to contribute to Wardroom, we need to add documentation to Wardroom. This documentation, at least in the first iteration, should provide the following information:

* An overview of Wardroom's architecture
* Instructions for building images using Wardroom (can pull from existing content in the `packer` directory)
* Instructions for cluster bootstrapping

[2019-04-17 17:29] craigtracey opened #133 "Test Issue"
Testing GH integration

[2019-04-17 17:29] #133 closed

[2019-04-17 18:28] craigtracey commented on #129
I'd like to see this as part of a significant rethink of how we are driving image builds.  I feel like we need a better way to drive this than the tooling inside the `wardroom/` directory.

[2019-04-17 18:29] craigtracey commented on #126
Please verify against the defaults that are coming in the versioned releases. Minimally, please just indicate the minimum version where these are no longer an issue (both rhel an deb).

[2019-04-17 18:31] craigtracey commented on #111
We can close as this will be fixed in upcoming changes.

[2019-04-17 18:31] #111 closed

[2019-04-17 18:32] craigtracey commented on #110
I believe this is addressed now, but will need someone to verify.  I would also be helpful to test this scenario.

[2019-04-17 18:35] craigtracey commented on #86
I believe that this falls outside the scope of what wardroom is tasked to do, so closing. Reopen if you feel differently.

[2019-04-17 18:35] #86 closed

[2019-04-17 18:36] craigtracey commented on #87
Is this something that should be happening with cloud-init @scottslowe ?  In my opinion, it is.

We may just want to document that a proper hostname is a pre-req for wardroom.

[2019-04-17 18:37] craigtracey commented on #71
@scottslowe can you elaborate on this issue? Is this still a concern?

[2019-04-17 18:57] scottslowe commented on #71
I haven't tested recently, so I can't verify whether this is still a concern or not. I'll go ahead and close this issue, and I'll re-open if subsequent testing reveals that this problem still exists.

[2019-04-17 18:57] #71 closed

[2019-04-17 19:04] craigtracey commented on #55
Closing as I believe this falls outside the scope of what wardroom should do. Reopen if necessary.

[2019-04-17 19:04] #55 closed

[2019-04-17 19:04] craigtracey commented on #62
I do not believe that this in in-scope for wardroom functionality. What say you @scottslowe ?

[2019-04-17 20:29] scottslowe commented on #62
Agreed.

[2019-04-18 18:32] scottslowe commented on #87
@craigtracey I think it is probably sufficient to just document it as a prerequisite (and it's really only a hard prerequisite for AWS, as far as I know).

[2019-04-18 18:34] scottslowe commented on #110
On a longer-term basis, do we want to switch to using static Pods for etcd, even on dedicated control plane nodes? If that's the case, then we still need at least `kubeadm` installed.

[2019-04-18 20:12] craigtracey commented on #106
I believe this is already addressed.

[2019-04-18 20:12] #106 closed

[2019-04-18 20:27] craigtracey commented on #91
I do not believe this is an issue any longer.

[2019-04-18 20:27] #91 closed

[2019-04-18 20:27] #62 closed

[2019-04-18 20:28] craigtracey commented on #57
This is addressed in master.

[2019-04-18 20:28] #57 closed

[2019-04-18 20:29] craigtracey commented on #78
@ncdc I believe this falls outside the scope of wardroom. Is this still needed?

[2019-04-18 20:39] scottslowe commented on #120
Closed via #134.

[2019-04-18 20:39] #120 closed

[2019-04-19 15:32] joshrosso commented on #110
From my perspective, wardroom's default stance should be running dedicated etcd as static pods. This enables us to delegate much of the responsibility to kubeadm.

Those wishing to run etcd via systemd or otherwise will require role modification / extension.

[2019-04-19 15:37] scottslowe opened #136 "Update contribution instructions"
With the addition of new branches (for various supported releases of Kubernetes), we need to update the instructions for contributing to Wardroom so that new contributors have a clear idea of the purpose of each branch, how to issue a PR, which branches against which to submit PRs, etc.

[2019-04-19 16:02] joshrosso commented on #101
I will do this, please assign me.

[2019-04-19 16:07] scottslowe commented on #101
@joshrosso I can't seem to assign you (not sure why), can you assign yourself?

[2019-04-19 16:08] joshrosso opened #137 "Updates to Calico CNI Deployment"
I'd like to make the following changes to how wardroom does its Calico deployments.

Please let me know if they sound good and I will make the changes.

1. Increase the version to `3.6.X` from `3.3.X`

1. Store the calico manifest as a jinja template

1. Add variables to ensure calico respects the variables set for the cluster's `podSubnet` as its IPV4 pool.

1. Set IP-in-IP to `crossSubnet` (http

[2019-04-19 16:10] joshrosso commented on #101
I cannot :-1:

[2019-04-19 16:22] scottslowe commented on #101
Strange, not sure why I can't assign this to you. Anyway, I guess just pick it up and run with it!

[2019-04-19 16:24] scottslowe commented on #137
No objections to any of the suggested changes. Are you going to make these changes against `master`, and then we'll port over to the `v1.13.x` branch?

[2019-04-19 16:26] craigtracey commented on #137
I am all for bumping versions of Calico. Which branches would you like to apply this to?

As for storing the Calico manifests as Jinja templates, I would rather that we not do that, as it will make things a lot more rigid/confusing than they are today. And, it would be another burden for us to maintain.

The repo does have a mechanism to manipulate any applied manifest (called `modify_manifest`),

[2019-04-19 16:29] craigtracey commented on #137
As for `podSubnet`, we intentionally do not set this today, as this will vary wildly between deployments. Again, I think we should very clearly document how this `modify_manifest` library can be leveraged.

[2019-04-19 16:51] joshrosso commented on #137
I’m not sure I personally agree with having a template-tized manifest being more confusing. The endpoint is a black box. And Calico may change what sits behind it. For example in 3.5, there is no longer an endpoint for RBAC, everything sits in 1 manifest.

However I am willing to concede that preference in favor of a well documented modify_manifest.

Right, so shouldn’t wardroom support users sett

[2019-04-19 16:52] joshrosso commented on #137
Additionally, I (personally) only care about this change for the targeted 1.14 release. Backporting is not important IMO.

________________________________
From: Josh Rosso <joshrosso@gmail.com>
Sent: Friday, April 19, 2019 12:50 PM
To: heptiolabs/wardroom; heptiolabs/wardroom
Cc: Author
Subject: Re: [heptiolabs/wardroom] Updates to Calico CNI Deployment (#137)

I’m not sure I personally agree wit

[2019-04-19 17:24] craigtracey commented on #137
Wardroom does support setting `podCIDR` arbitrarily, but there is no explicit check to ensure that Calico also sets that same CIDR. It has always been the intention that the user needs to validate their configuration before deployment. If we want to write a warning about the mismatch, I am fine with that.

Carrying a template means that we need to fast-follow releases from Calico, with no guarante

[2019-04-19 17:37] joshrosso commented on #137
Are there cases where `podCIDR` for the k8s cluster should **not** be the CIDR used for Calico? Why not just reuse this variable in the Calico template (or always set it via `modify_manifest`?

When a new Calico release happens, the new yaml needs to be copied over and the variables re-established (or someone does diff work). Having the template-tized manifest makes the ansible more easier to reas

[2019-04-19 17:44] joshrosso commented on #137
As part of this ticket, I'll provide documentation around `modify_manifest`.

We do need to find consensus around our philosophy for plumbing `podCIDR`.

@craigtracey @scottslowe

[2019-04-19 18:44] joshrosso commented on #101
@craigtracey

Isn't this already being achieved at https://github.com/heptiolabs/wardroom/blob/master/ansible/roles/kubernetes-common/tasks/main.yml#L2-L8 ?

[2019-04-19 19:09] craigtracey commented on #101
Looks like it is. Closing.

[2019-04-19 19:09] #101 closed

[2019-04-23 16:52] craigtracey opened #138 "Add audit log support"
Wardroom should support enabling api-server audit log functionality. This change should template-ize the audit log configuration and add the necessary volume mounts into the api-server container by way of the kubernetes_common_kubeadm_config.

[2019-04-23 16:53] craigtracey commented on #138
cc: @erictcgs

[2019-04-23 16:55] craigtracey opened #139 "Add release notes"
As we move from version to version, there should be accompanying release notes. Here we should call out any deprecated flags and/or other information that would be pertinent to a user.

[2019-04-26 15:47] erictcgs opened #143 "Allow kubelet env vars to be set in inventory"
For private docker registries that require credentials for all pulled images, kubelet needs to have access to docker credentials to pull all images in all namespaces, including for system pods, pause image, etc.  Kubelet HOME defaults to "/", so docker registries are expected in the non-standard location of "/.docker", unexpected as kubelet is running as root.  One way to solve is to make sure HOM

[2019-04-26 15:49] erictcgs commented on #143
For the 1.11.x branch, the following allows a user to add `kubernetes_common_kubelet_env_vars` dictionary, values are added to `/etc/default/kubelet`.  ( @craigtracey )

[code]

[2019-04-26 15:52] erictcgs opened #144 "Avoid race condition for API masters when dns health check used"
Running into the following issue:
-	`generate kubelet configuration` task runs a command (kubeadm alpha...) – command always sets “changed” to true, regardless of if anything happened.
-	All masters go down, which makes the DNS health checks fail, which make further kubectl commands fail (somewhat unpredictably, depending on when health check happens and how quickly kubelet comes back up)

There's

[2019-04-26 15:53] erictcgs commented on #144
Following works - need to disable the setting of default common api ip/fqdn

I added the following for me for now in the kuberentes-common role:

[code]

[2019-04-26 15:55] erictcgs opened #145 "Only restart kubelets when kubelet config actually changes"
Ansible considers every `command` to be a `change` - in kubernetes common this ends up triggering a kubelet restart on every run, which brings down masters and all nodes simultaneously even when no real changes.  Need to calculate hash of existing file and check if file changed, only trigger kubelet restart if actual change resulted

[2019-04-26 15:56] erictcgs commented on #145
@craigtracey

[code]

[2019-04-29 15:23] craigtracey opened #146 "Check for bad configuration"
Right now wardroom requires the kubernetes version to be set in two places. This can make it easy to misconfigure your ansible runs. Add a preflight check to make sure that users are deploying what they think they are.

[2019-04-29 15:23] craigtracey commented on #146
cc: @erictcgs

[2019-04-29 15:25] randomvariable commented on #130
/assign

[2019-04-29 16:01] alexbrand commented on #138
From a UX perspective, should a single flag control this behavior (e.g. `kubernetes_master_audit_enabled: True|False`), or is the user responsible for setting the right flags and volume mounts via `kubernetes_common_kubeadm_config`?

[2019-04-29 16:10] randomvariable commented on #136
/assign . Doing this now

[2019-04-29 16:13] johnharris85 opened #147 "[swizzle] Provide a working OOTB configuration / setup"
Right now there are some 'examples' but none of the README's seem to produce any working clusters / configurations. Would be good to at least have a known set of working defaults to lower the bar for entry / experimentation.

[2019-04-29 20:18] alexbrand commented on #110
+1 on this. Should we create an issue to track the migration to static pods?

Also, how do we handle this for existing users who have already deployed etcd as systemd services?

[2019-04-29 20:30] alexbrand commented on #126
According to the docker-ce [release notes](https://github.com/docker/docker-ce/releases/tag/v18.09.2), this CVE was fixed in `v18.09.2`

[2019-04-30 14:51] #126 closed

[2019-04-30 15:35] alexbrand opened #155 "Remove extra_vars example in swizzle directory"
/kind bug

**What steps did you take and what happened:**
The `extra_vars.yaml.example` is outdated.

**What did you expect to happen:**
Remove the outdated `extra_vars.yaml.example`, which is causing confusion on project newcomers.

[2019-04-30 15:45] craigtracey commented on #155
I'd like to get rid of these files. They have been on my radar, just not deleted yet.

[2019-04-30 15:46] alexbrand commented on #155
That works for me as well 👍  I'll open a PR to remove them.

[2019-04-30 15:51] craigtracey commented on #145
As discussed, we will look to address handling the false firing of the notifications, but the restart of the kubelet should not be impactful for any of the data or control plane pods.

[2019-04-30 15:53] craigtracey commented on #144
As round robin fronting a cluster is a bit of a corner case, and as carrying this code might introduce inadvertent failures, we have recommended that `kubernetes_common_manage_etc_hosts` be set to false, and that `/etc/hosts` is managed external to wardroom. Closing for now, but please reopen if there are any issues with this approach.

[2019-04-30 15:53] #144 closed

[2019-04-30 16:22] johnharris85 opened #159 "Calico example doesn't work for Virtualbox"
/kind bug

**What steps did you take and what happened:**
`python provision.py install.yml examples/calico.yaml` fails as the kubelet cannot communicate with the apiserver.

**What did you expect to happen:**
Working cluster

**Anything else you would like to add:**
Issue was caused by the Virtualbox code path not setting the loadbalancer NIC correctly.

**Environment:**

- Wardroom version: `1.13

[2019-04-30 16:24] #147 closed

[2019-04-30 16:44] #159 closed

[2019-04-30 16:45] #155 closed

[2019-04-30 19:35] alexbrand opened #161 "kubeadm token creation fails with permission error"
/kind bug

**What steps did you take and what happened:**
Ran the following command:
[code]

The kubeadm token creation play fails with the following error:

[code]

We need to `become: yes` in the play.

[2019-04-30 20:45] #161 closed

[2019-05-01 16:49] #119 closed

[2019-05-01 16:52] #99 closed

[2019-05-01 19:07] alexbrand opened #165 "Make the management of /etc/hosts an opt-in feature"
**What steps did you take and what happened:**
We are currently managing /etc/hosts by default.

**What did you expect to happen:**
The management of /etc/hosts should be an opt-in feature.

[2019-05-01 19:08] alexbrand opened #166 "Leverage kubeadm preflight checks"
**What steps did you take and what happened:**
We are currently ignoring the kubeadm preflight checks.

**What did you expect to happen:**
Leverage the kubeadm preflight checks to detect any misconfigurations of the underlying node.

[2019-05-01 20:47] alexbrand opened #178 "Bump etcd version to one greater than 3.2.18"
Ran swizzle with kubeadm preflight checks enabled, which resulted in an error:
[code]

The latest etcd release is v3.3.12. Bump up the default etcd version in the etcd role.

[2019-05-01 21:41] alexbrand opened #180 "Update master branch to Kubernetes v1.14"
The `v1.13.x` branch tracks the 1.13 release of Kubernetes.

The `master` branch should track the v1.14 release.

[2019-05-02 12:55] alexbrand opened #181 "Use kubeadm to standup etcd cluster"
Currently, swizzle deploys etcd as a systemd service on etcd nodes. Instead, we should leverage kubeadm to bootstrap the etcd cluster.

[2019-05-02 14:39] #165 closed

[2019-05-02 14:54] alexbrand commented on #178
Superceeded by #181

[2019-05-02 14:54] #178 closed

[2019-05-02 17:16] jpweber commented on #130
Here are a few things I've hit that I had to figure out that would have been nice if it was documented

- how to specify your podCidr for the kubeadm config
- how to change your podCidr in for the calico config
- fields that a user is likely to need to modify / add to the extra_vars.yaml file. such as `kubernetes_common_api_ip` `_api_fqdn` `_primary_interface`. Also version for things

[2019-05-28 17:25] anwarchk opened #189 "Question : Is this still the recommended tool to provision a K8s cluster ?"
Hi there,
I have seen couple of folks/orgs use a customized version of wardroom to provision K8s cluster on AWS. Just wondering if there are alternatives OSS tools out there or does Heptio team internally still use wardroom to provision a cluster ?

Thank you,
Anwar

[2019-06-05 18:18] #189 closed

[2019-06-11 06:06] pickledrick opened #190 "Attempting swizzle build from branch (v1.13.x) using defaults fails"
/kind bug

**What steps did you take and what happened:**
cloned the repository
checked out branch v1.13.x
built an inventory of hosts
[code]
cp extra_vars.yaml.example extra_vars.yaml

removed templated values from api: down leaving defaults of

[code]

ran

ansible-playbook -i inventory.ini install.yml --extra-vars "@extra_vars.yaml"

playbook failed on

[code]

**What did you expect to happen:*

[2019-06-11 12:17] alexbrand commented on #190
Hey @pickledrick, it looks like your machines do not have a network interface called `enp0s8`. You most likely have to update the `kubernetes_common_primary_interface` and `etcd_interface` variables to the right nic (e.g. `eth0` or such). You might also want to check out this PR which has updated documentation (albeit targeting the master branch).

[2019-06-11 23:07] pickledrick commented on #190
Thanks, @alexbrand!

I found the master branch [readme on swizzle](https://github.com/heptiolabs/wardroom/tree/master/swizzle) reference example files that were non-existent in that branch for example.

cp inventory.ini.example inventory.ini
cp extra_vars.yaml.example extra_vars.yaml

But can see in the examples dir there is something showing an example of this.

[2019-06-12 17:34] scottslowe commented on #190
@pickledrick We do have plans to get the documentation @alexbrand mentioned available on the various release branches. Is your issue resolved for now? Can we close this issue?

[2019-06-12 21:41] pickledrick commented on #190
Hi @scottslowe, Sure thing, Happy to close. I was unsure as to whether you wanted to keep this open for tracking updates to documentation.

[2019-06-12 22:16] #130 closed

[2019-06-12 22:20] scottslowe opened #191 "Backport documentation to version branches"
Now that a minimal set of documentation has been added (via #183), we need to backport/cherry pick this documentation to the version branches (the docs currently reside only in the "master" branch).

[2019-06-12 22:22] scottslowe commented on #190
@pickledrick I just merged a PR that updates the documentation on the master branch. I've opened issue #191 to track the need to backport/cherry pick the documentation to the various release branches. If there are any other specific updates we need to make, would you mind opening issues for those updates? Thank you!

[2019-06-12 22:22] #190 closed

[2019-06-14 20:35] alexbrand opened #192 "Python installation hangs when building Ubuntu 18.04 image"
/kind bug

**What steps did you take and what happened:**
Attempt to build the Ubuntu 18.04 image using packer:
[code]

**What did you expect to happen:** Successful build of image.

[2019-06-18 17:49] #192 closed

[2019-06-24 02:48] johnharris85 commented on #181
Do we want to give users the option here? Or just switch completely to using kubeadm for etcd standup? (fwiw I'm in favor of the latter)

[2019-06-24 13:07] alexbrand commented on #181
I am in favor of completely switching, and that is what I was working on in #182. I ran into an issue, however, that prevent me from completing that PR.

[2019-07-19 14:21] timmycarr opened #194 "Document configuration options"
/kind feature

**Describe the solution you'd like**
Wardroom has many options for configuration of everything from certs to calico. Add documentation to show exactly what's needed and what knobs can be turned by configuration in the extra-vars.yaml I recently ran into a configuration problem with calico that could have been solved by finding the calico example file and realizing that I left out fi

[2019-07-23 13:47] johnharris85 opened #195 "Make the APIServer LB Port Configurable"
/kind feature

**Describe the solution you'd like**
The ability to make the apiserver LB port (currently 6443 hardcoded) configurable.

**Anything else you would like to add:**
N/A

**Environment:**

- Wardroom version: `branch`: All
- OS (e.g. from `/etc/os-release`): All

[2019-07-23 16:42] johnharris85 opened #196 "[swizzle] Nodes fail to install because pip is missing"
/kind bug

**What steps did you take and what happened:**
Install correctly

**What did you expect to happen:**
Install fails with nodes unable to find `pip`

**Anything else you would like to add:**
`pip` is part of the `common` role that is installed on all nodes. It's required by the `kubernetes-cni` role (which is applied to all nodes), however the `add-nodes` playbook is not run until after `

[2019-08-05 07:22] flostadler commented on #180
I'd love to tackle this issue if it's still relevant

[2019-08-05 15:41] scottslowe commented on #180
@flostadler This is definitely still relevant. AFAICT, there are only a couple of issues that need to be resolved: #196 (which is potentially fixed via PR #197) and making sure the Docker daemon uses "systemd" for the cgroups driver instead of "cgroupfs" (an issue I've observed but have not yet opened an issue for---I'll remedy that shortly). What can I do to help you get started on this issue?

[2019-08-05 16:24] scottslowe opened #198 "[Image] Images configured to use "cgroupfs" cgroups driver"
/kind bug

**What steps did you take and what happened:**
AWS AMIs built using the master branch are configured to use the `cgroupfs` cgroups driver, which generates a warning from `kubeadm` when bootstrapping a cluster.

**What did you expect to happen:**
I expected images to be built and configured to use the `systemd` cgroups driver.

**Anything else you would like to add:**
I've only tested th

[2019-08-05 16:25] scottslowe commented on #180
We should also resolve #198 before branching for 1.14 (this is the cgroups driver issue mentioned above).

[2019-08-05 18:32] scottslowe commented on #198
I just tested a CentOS 7.4 AMI built using the master branch; the cgroup driver for Docker is set to systemd. So it appears this only affects Ubuntu-based AMIs.

[2019-08-05 19:40] scottslowe commented on #196
@johnharris85 Do you remember the command you used to test this? The documentation for Wardroom needs some updating, and I was wondering if you tried this using `ansible-playbook -i <inventory> -e wardroom_action=install main.yml` or something else.

[2019-08-05 19:43] johnharris85 commented on #196
Just from the [docs](https://github.com/heptiolabs/wardroom/blob/master/docs/bootstrapping-a-kubernetes-cluster.md) I believe @scottslowe - `ansible-playbook install.yml --inventory inventory.ini --extra-vars @extra_vars.yml`

[2019-08-05 19:48] scottslowe commented on #196
@johnharris85 OK, thanks. I _think_ that swapping the order of importing the `add-nodes.yml` playbook may affect the ability to use Wardroom to just add nodes to an existing cluster, but I'll need to test that first. (This is controlled via the `wardroom_action` variable I mentioned above, which isn't in the documentation yet.)

[2019-08-05 19:51] johnharris85 commented on #196
Ah OK fair enough. Needs a change of some sort though I guess as it's broken as-is.

[2019-08-05 19:52] scottslowe commented on #196
@johnharris85 Does this affect only CentOS nodes, or have we tried on Ubuntu also?

[2019-08-05 19:59] johnharris85 commented on #196
Only tested on Centos but because it's ordering related I think it's safe to assume it affects both?

[2019-08-05 20:21] flostadler commented on #180
@scottslowe Anything to look out for, or some common pitfalls?

[2019-08-06 06:25] scottslowe commented on #180
@flostadler I don't think so. We're still working on documentation, so if you run into any problems or have questions, please don't hesitate to contact me (or one of the other contributors).

[2019-08-08 22:48] #196 closed

[2019-08-08 22:56] scottslowe opened #199 "[Bootstrapping] Cluster bootstrapping instructions and examples are incomplete"
/kind bug

**What steps did you take and what happened:**
I followed the instructions for bootstrapping a cluster using the `swizzle` directory and found the instructions to be incomplete. For example, there is no mention of using `-e wardroom_action` to control what Wardroom is doing (install, add node, upgrade). Further, the "sample" variable files are incorrect/incomplete, and targeted only at

[2019-08-08 23:39] scottslowe commented on #194
@timmycarr Can you have a look at the changes in #200 and let me know what else you'd like to see documented?

[2019-08-09 18:43] scottslowe opened #201 "[Bootstrapping] BGP blocked by firewalld on CentOS hosts"
/kind bug

**What steps did you take and what happened:**
I bootstrapped a CentOS 7.4 cluster using the instructions in the repository. Although the Ansible playbooks completed successfully, the Calico pods reported "1/2" Ready. Looking at the output of `kubectl -n kube-system get pod <calico-node-pod>` showed that BIRD was unable to establish BGP peering relationships. Opening 179/TCP and 179/UDP

[2019-08-09 19:11] #199 closed

[2019-08-16 16:17] erictcgs opened #203 "Cannot re-run upgrade playbook from 1.11->1.12 - apt package issue"
/kind bug

**What steps did you take and what happened:**

Ran upgrade script from 1.11.6 cluster to 1.12.7, masters failed due to temporary api server inavailability, ansible aborted.  kubectl get nodes showed that masters were successfully upgraded, tried to re-run script to make sure all plays were performed, script now fails on package install

**What did you expect to happen:**

Detect no cha

[2019-08-16 19:52] erictcgs commented on #203
Note that this also means nodes can't be added to the cluster - that requires the install playbook to run, must include etcd nodes (so that primary master has that variable set correctly), primary_master (to get kubeadm install token), then the nodes, however the playbook fails when trying to install packages on the master, then can't generate kubeadm token

[2019-08-16 21:14] erictcgs opened #204 "On k8s upgrade alpha phase addon gets run on all masters, fails on non-primary masters"
/kind bug

**What steps did you take and what happened:**

While upgrading from 1.11 to 1.12 found that secondary masters fail during the add-ons task:

[code]

Problem is that this task updates a daemonset and a deployment, should only be run once (on primary master?), not on all masters

**What did you expect to happen:**

Run once, not cause failures

**Anything else you would like to add:**
[M

[2019-08-17 01:27] erictcgs commented on #204
It looks like this may not only cause failures, but actually seemed to get coredns into a really bad state - I found that I had 1 coredns deployment created, but there were 1000's of coredns replicasets after a few hours, and coredns pods rapidly cycling into existence then quitting.  Logs of one of the quitting ones:
[code]

Was only able to clean up by manually deleting deployment and all replic

[2019-09-01 15:06] craigtracey commented on #204
We have address the issue of running the addons on multiple hosts, but this sounds like something else was responsible for this on your cluster. This addon only updates a Deployment, and it is the responsibility of the controller manager to reconcile state. What we do here would be the equivalent of running `kubectl apply` repeatedly...which should not be problematic.

Closing for now.

[2019-09-01 15:06] #204 closed

[2019-09-01 15:12] craigtracey commented on #203
What is the state of the scoped token you are trying to use during this run? Are you sure that it has not expired?

[2019-09-03 19:05] erictcgs commented on #203
I'm using the token generated by wardroom on the master - it fails during wardroom node install, if I do `kubeadm token list` immediately on the master it is listed and seems valid, and if I do `kubeadm join` on the node manually with it (all within a minute or so of the initial ansible run) it fails with the same error that wardroom got.

Is there a role/rolebinding being misconfigured that's sup

[2019-10-10 20:56] erictcgs opened #208 "Canal no longer has rbac.yaml"
Canal used to have an rbac.yaml separate from the canal.yaml, now one file.  The canal.yml ansible role is looping over those 2 variables, should skip rbac.yaml if not defined.

[2019-10-10 21:01] erictcgs opened #209 "cni install playbook applying role to all hosts"
Current cni role applies to all hosts, should only run on masters

[2019-10-25 18:57] erictcgs opened #210 "kubeadm config defaults include deprecated flags, missing sections"
kubeadm config in the kubernetes-common role has defaults that trigger deprecation warnings, and currently has no way to set parameters that have moved into kubelet config and init config.

Locally have modified the kubeadm.conf template file to read
[code]

and the defaults.yaml to read
[code]

[2019-10-29 15:04] erictcgs opened #211 "kubernetes-master upgrade missing kubeadm config upgrade steps"
/kind bug

**What steps did you take and what happened:**
Upgrade a cluster using wardroom, from 1.10, 1.11, 1.12, 1.13, 1.14

**What did you expect to happen:**
kubeadm [upgrade orchestration](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/#cmd-upgrade-diff) be used to generate local /var/lib/kubernetes/config.yaml and kubelet-config-1.x config map in primary nodes, then

[2019-11-12 17:50] erictcgs opened #213 "kubeadm.conf updates not reflected in masters or nodes"
/kind bug

**What steps did you take and what happened:**

I updated the kubeadm sections (need the TTL featuregate enabled - requires updates to control plane manifests as well as kubelet cmd line flags) in ansible config (eg kubernetes_common_kubeadm_config_kubeletconfiguration, kubernetes_common_kubeadm_config_clusterconfiguration) - kubeadm.conf file gets placed but no changes get distributed

[2019-12-20 21:24] #208 closed

[2019-12-23 00:03] craigtracey commented on #209
Addressed by https://github.com/heptiolabs/wardroom/pull/214

[2019-12-23 00:03] #209 closed

[2019-12-27 18:24] craigtracey commented on #213
This is addressed by https://github.com/heptiolabs/wardroom/pull/215

[2019-12-27 18:24] #213 closed

[2019-12-27 18:25] craigtracey commented on #211
This is addressed by https://github.com/heptiolabs/wardroom/pull/215

[2019-12-27 18:25] #211 closed

[2019-12-27 18:25] craigtracey commented on #210
This is addressed by https://github.com/heptiolabs/wardroom/pull/215

[2019-12-27 18:25] #210 closed

[2020-04-14 16:09] scottslowe commented on #87
Closing this issue as Wardroom is no longer being actively developed

[2020-04-14 16:09] #87 closed

[2020-04-14 16:10] scottslowe commented on #201
Closing this issue as Wardroom is no longer being actively developed

[2020-04-14 16:10] #201 closed

[2020-04-14 16:10] scottslowe commented on #198
Closing this issue as Wardroom is no longer being actively developed

[2020-04-14 16:10] #198 closed

[2020-04-14 16:11] scottslowe commented on #191
Closing this issue as Wardroom is no longer being actively developed

[2020-04-14 16:11] #191 closed

[2020-04-14 16:11] scottslowe commented on #136
Closing this issue as Wardroom is no longer being actively developed

[2020-04-14 16:11] #136 closed